@import './reset.scss';
@import './header.scss';
@import './responsive.scss';
@import './variables.scss';

// common components
.el-button-primary{
    font-size: 1.1rem;
    font-weight: 400;
    padding: .6rem 2rem;
    border-radius: 2px;
    color: $light-color;
    background-color: $brand-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s ease 0s;
    &:hover{
        background-color: $bg-soft-primary;
    }
}
// style for home page
// page title
.el-title{
    color: $title-color;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
// section title
.el-section-title{
    text-align: center;
    padding-bottom: 1.5rem;
    > h1{
        margin-bottom: .5rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image:  linear-gradient(65deg, hsl(181.47deg 100% 36%) 39%, hsl(145, 100%, 43%) 64%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-attachment: fixed;
    }
    p{
        color: $text-color;
        margin-bottom: 1.5rem;
    }
}

// home carousal
.el-carousel{
    width: 100%;
    display: block;
    padding: 3rem;
    .el-slide-text{
        margin-bottom: 1rem;
        .el-slide-title{
            color: $title-color;
            font-size: 3rem;
            text-align: left;
            padding-bottom: .5rem;
        }
        .el-slide-sub-title{
            color: $title-color;
            opacity: .8;
            font-size: 1.5rem;
            text-align: left;
        }
        .el-slide-disc{
            font-size: 1.1rem;
            padding: 1rem 0;
            text-align: left;
        }
    }
    .el-slide-btn{
        text-align: left;
    }
    .el-slide-img{
        width: 100%;
        max-width: 22rem;
        display: block;
    }
}
// home blog section
.el-blog-section{
    padding: 2rem 0;
}
// home our team section 
.el-team-section{
    padding: 1rem 0;
    background-color: $bg-soft-primary;
}

// css for individual component
// Blogs.vue
.el-blog-card{
    border-radius: 0;
    border: none;
    
    .el-blog-img{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        img{
            transition: all 1s ease 0s;
        }
        .el-blog-overlay{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(68, 68, 68, 0.2);
            border-radius: 10px;
            transition: all 1s ease 0s;
            > button{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: none;
                padding: 1rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            }
        }
    }
    .card-body{
        padding: 1rem 0;
        .el-blog-category{
            text-transform: uppercase;
            color: $brand-color;
        }
        .el-blog-title{
            color: $title-color;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0.6rem 0;
            display: block;
        }
        .el-blog-meta{
            color: $text-color;
            opacity: .6;
            .el-blog-date{
                margin-right: 1rem;
            }
        }
    }
    .card-text{
        color: $text-color;
    }
    &:hover{
        .el-blog-img{
            .el-blog-overlay{
                display: block;
            }
            img{
                transform: scale(1.05);
            }
        }
    }
}