@import './reset.scss';
@import './header.scss';
@import './responsive.scss';
@import './variables.scss';

// el button components
.el-btn {
    display: inline-block;
    line-height: 1.8;
    font-size: 1.1rem;
    font-weight: 400;
    padding: .6rem 2rem;
    border-radius: 2px;
    transition: all .5s ease 0s;
}

.el-btn-primary {
    color: $light-color;
    background-color: $brand-color;

    &:hover {
        color: $dark-color;
        background-color: $brand-soft;
    }
}

.el-btn-primary-o {
    color: $brand-color;
    border: 1px solid $brand-color;

    &:hover {
        color: $light-color;
        background-color: $brand-color;
    }
}

.el-btn-light {
    color: $dark-color;
    background-color: $light-color;

    &:hover {
        color: $dark-color;
        background-color: $brand-soft;
    }
}

.el-btn-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.el-btn-sm {
    font-size: .9rem;
    padding: .3rem 1rem;
}

// style for home page
// page title
.el-title {
    color: $title-color;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

// section title
.el-section-title {
    text-align: center;
    padding-bottom: 1.5rem;

    >h1 {
        margin-bottom: .5rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(65deg, hsl(181.47deg 100% 36%) 39%, hsl(145, 100%, 43%) 64%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-attachment: fixed;
    }

    >p {
        color: $text-color;
        margin-bottom: 1.5rem;
    }
}

// home carousal
.el-carousel {
    width: 100%;
    display: block;
    padding: 3rem;

    .el-slide-text {
        margin-bottom: 1rem;

        .el-slide-title {
            color: $title-color;
            font-size: 3rem;
            text-align: left;
            padding-bottom: .5rem;
        }

        .el-slide-sub-title {
            color: $title-color;
            opacity: .8;
            font-size: 1.5rem;
            text-align: left;
        }

        .el-slide-disc {
            font-size: 1.1rem;
            padding: 1rem 0;
            text-align: left;
        }
    }

    .el-slide-btn {
        text-align: left;
    }

    .el-slide-img {
        width: 100%;
        max-width: 22rem;
        display: block;
    }
}
// home course section
.el-course-section{
    padding: 2rem 0;
}
.el-course-card {
    perspective: 1000px;
    width: 100%;
    height: 250px;
  
    .el-course-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      }
      &:hover{
          .el-course-card-inner {
              transform: rotateY(180deg);
          }
      }
      .el-course-card-front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        z-index: 2;
        transform: rotateY(0deg);
        .card{
            padding: 1rem 0;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: $bg-soft-primary;
          img{
            width: 80px;
            margin-left: 50%;
            transform: translateX(-50%);
          }
            .card-title{
            color: $title-color;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            }
            .card-text {
                color: $text-color;
                line-height: 1.2rem;
            }
        }
      }
      .el-course-card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        .card{
            width: 100%;
            height: 100%;
            background-color: $brand-color;
            .card-title{
                font-weight: 500;
                color: $light-color;
                padding: 1rem 0;
            }
            .card-text {
                color: $dark-color;
            }
            .el-btn{
                margin: 1rem 0;
            }
        }
      }
  }
// home blog section
.el-blog-section {
    padding: 2rem 0;
}

// home our team section 
.el-team-section {
    padding: 2rem 0;
    background-color: $bg-soft-primary;
}

.el-team-card {
    text-align: center;
    border: none;
    border-radius: 0;
    background-color: transparent;

    .el-team-img {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        width: 250px;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
        }

        .el-team-overlay {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.459) 0%, rgba(0, 0, 0, 0.153) 100%);
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;

            .el-team-social {
                margin-top: 75%;
                transform: translateY(-60%);
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;

                >li {
                    display: inline-block;
                    margin: 0 0.5rem;
                    height: 32px;
                    width: 32px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 5px;
                    transition: all 0.4s ease;
                    overflow: hidden;
                    position: relative;
                    background-color: $light-color;

                    a {
                        color: $brand-color;
                    }
                }
            }
        }
    }

    &:hover {
        .el-team-overlay {
            opacity: 1;

            .el-team-social {
                transform: translateY(-10%);
            }
        }
    }

    .el-member-name {
        display: block;
        padding: .5rem 0;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $title-color;
    }

    .el-member-designation {
        color: $text-color;
    }
}

// home about section 
.el-about-section {
    padding: 2rem 0;
}

.el-about-block {
    .el-about-title {
        padding: 1rem 0;
        color: $title-color;
        font-size: 2.5rem;
    }

    .el-about-sub-title {
        font-size: 1.3rem;
        color: $text-color;
    }

    .el-about-text {
        padding: 1rem 0;
        color: $text-color;
        line-height: 1.5rem;
    }

    .el-about-img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }
}

.el-cta-section {
    padding: 2rem;
    background: $bg-soft-primary;
}

.el-cta {
    padding: 2rem;
    text-align: center;

    .el-cta-title {
        color: $title-color;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .el-cta-btn {
        margin-top: 2rem;
    }
}

// css for individual component
// Blogs.vue
.el-blog-card {
    border-radius: 0;
    border: none;

    .el-blog-img {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
            transition: all 1s ease 0s;
        }

        .el-blog-overlay {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(68, 68, 68, 0.2);
            border-radius: 10px;
            transition: all 1s ease 0s;

            >button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: none;
                padding: 1rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            }
        }
    }

    .card-body {
        padding: 1rem 0;

        .el-blog-category {
            text-transform: uppercase;
            color: $brand-color;
        }

        .el-blog-title {
            color: $title-color;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0.6rem 0;
            display: block;
        }

        .el-blog-meta {
            color: $text-color;
            opacity: .6;

            .el-blog-date {
                margin-right: 1rem;
            }
        }
    }

    .card-text {
        color: $text-color;
    }

    &:hover {
        .el-blog-img {
            .el-blog-overlay {
                display: block;
            }

            img {
                transform: scale(1.05);
            }
        }
    }
}

// style for sidebar 
.el-sidebar{
    padding: .5rem;
    min-height: 10rem;
    background-color: $bg-soft-primary;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}